<a href="https://colab.research.google.com/github/renansimas/ds_codes/blob/master/C%C3%B3pia_de_2nd_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Second list of exercises

1) Use list comprehension to create a list that:

- a) Given a list of strings, contains the length of them.

- b) Contains all the cubes of the multiples of 17 in a range from 1 to 1000.

- c) Contains all the numbers from 1 to 100 that starts with 4 or 5 and are even numbers.

- d) Contains all the numbers from 1 to 1000 that have the digit 3 in them.

- e) Given a list of strings, transform to upper if the first letter is a vowel and invert the string otherwise.

       For example, ['apple', 'orange', 'watermelon'] -> ['APPLE','ORANGE', 'nolemretaw']

In [ ]:
# a) Given a list of strings, contains the length of them.

nome=['renan', 'pina', 'simas', 'pereira']

contagem=[len(i) for i in nome ]

contagem

[5, 4, 5, 7]

In [ ]:
# b) Contains all the cubes of the multiples of 17 in a range from 1 to 1000.

cubos=[element**3 for element in range(1000)if element%17==0] 

cubos

In [ ]:
# c) Contains all the numbers from 1 to 100 that starts with 4 or 5 and are even numbers.

pares =[i for i in range(1,100) if i%2==0 and (i//10==4 or i//10==5) or i==4]

pares

[4, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58]

In [ ]:
# d) Contains all the numbers from 1 to 1000 that have the digit 3 in them.

digito3={i for i in range(1000) if (i-3)%10==0 or i//100==3 or (i-(i//100)*100)//10==3}

digito3

In [ ]:
# e) Given a list of strings, transform to upper if the first letter is a vowel and invert the string otherwise.

lista=(['renan', 'aeaçlaçlaç', 'pina','uruau'])

palavras=[i.upper() if i.lower().startswith(('a','e','i','o','u')) else i[-1::-1] for i in lista]

palavras

['naner', 'AEAÇLAÇLAÇ', 'anip', 'URUAU']





2) Write function that takes a list with two numbers in it and determines if the sum of the digits of the two numbers are equal to each other.

In [ ]:
def final (num):
  i=num
  digitos=[]
  while i//10!=0:
    a=i%10
    digitos.append(a)
    i=int((i-a)/10)
  digitos.append(i)
  #return digitos
  return sum(digitos)

def comparar (num1, num2):
  if final(num1)==final(num2):
    print('Os números tem a mesma soma de dígitos')
  else:
    print('Os números tem a soma de dígitos diferentes')

In [ ]:
comparar (456,1111524)

Os números tem a mesma soma de dígitos

3) Among all the numbers that are made from the product of two 3-digit numbers:

- a) How many are odd numbers?

- b) How many starts with the digit-8 and ends with digit-9

- c) How many are palindromes?

In [ ]:
produtos=[i*j for i in range(100,1000) for j in range(100,1000)]
impar=[i for i in produtos if i%2!=0]
digitos=[i for i in produtos if (i-9)%10==0 and (int(str(i)[-1::-1])-8)%10==0]
palindromos=[i for i in produtos if str(i)[-1::-1]==str(i)]

print(f'A quantidade de números ímpares é {len(impar)}')
print(f'A quantidade de números que começam com 8 e terminam com 9 é {len(digitos)}')
print(f'A quantidade de palíndromos é {len(palindromos)}')

A quantidade de números ímpares é 202500
A quantidade de números que começam com 8 e terminam com 9 é 1503
A quantidade de palíndromos é 2470

4) Use functional programming to:

- a) Filter the indexes with positive changes in the dictionary 'stock_indexes'.

In [ ]:
stock_indexes = {'FTSE 100':-0.3, 'DAX': -1.65, 'Dow Jones': -1.1, 'Ibovespa':0.2, 'S&P':0.65}

In [ ]:
def positivo(**kwargs):
  
  for value in kwargs.items():
    if value <0 :
      print('ok')
    else:
      print('deu erro')

In [ ]:
positivo(stock_indexes)

- b) Apply a function that generates a list with the types of each element of the list 'elements'

In [ ]:
elements = [1,'economics', 9.8, 2 + 3j, ['a','b','c'], stock_indexes]

In [ ]:
tipos=[type(i) for i in elements ]

tipos

[int, str, float, complex, list, dict]

- c) Transform a list of lists in a flat list
    
       For example, [[1,2,4],[10,12,14],[1,2]] -> [1,2,4,10,12,14,1,2]

In [ ]:
lista=[[1,2,4],[10,12,14],[1,2]]

flat=[i for i in lista if type(i)==list]

flat

[[1, 2, 4], [10, 12, 14], [1, 2]]